<h4>Creation operators</h4>
<p>of() - used to convert values into observable</p>
<p>from() - used to convert promise or arrays into observable</p>
<p>interval() - used to create an observable that emits sequence of values at regular intervals.</p>
<p>timer(initialDelay, period(intervalDelay)) - used to crate an observable that emits values after a delay like setTimeout, or emits repeatedly after an initial delay like (setTimeout + setInterval)</p>
<p>range(start, count) - it creats an observable that emits a sequence of numbers in order.</p>