<p>In Angular resolve() is used in Route Resolvers to preload data before navigating to a route. This ensures that the component has all the required data before navigating to the route, avoiding the need to show loaders or spinners.</p>
<p>A Resolver is a class that implements Resolve interface and is used to fetch data before navigating to the route.</p>
<hr>

<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Index</th>
        <th>ID</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Completed</th>
    </tr>
    <tr *ngFor="let todo of todos; let i=index">
        <th>{{i}}</th>
        <th>{{todo.id}}</th>
        <th>{{todo.userId}}</th>
        <th>{{todo.title}}</th>
        <th>{{todo.completed}}</th>
    </tr>
</table>