<p> In Angular, Route Guards are interfaces used to control access to routes. They let you decide whether a user can navigate to or away from a route based on conditions like authentication, roles, unsaved changes, etc..</p>

<nav>
    <a routerLinkActive="active-link" routerLink="navigate">Navigate</a>
    <a routerLinkActive="active-link" routerLink="can-activate">Can Activate</a>
    <a routerLinkActive="active-link" routerLink="can-activate-child">Can Activate Child</a>
    <a routerLinkActive="active-link" routerLink="can-deactivate">Can Deactivate</a>
    <a routerLinkActive="active-link" routerLink="resolve">Resolve</a>
    <a routerLinkActive="active-link" routerLink="can-load">Can Load</a>
</nav>

<router-outlet></router-outlet>