<nav>
    <a routerLinkActive="active-link" routerLink="data-binding">Data Binding</a>
    <a routerLinkActive="active-link" routerLink="forms">Forms</a>
    <a routerLinkActive="active-link" routerLink="directives">Directives</a>
    <a routerLinkActive="active-link" routerLink="pipes">Pipes</a>
    <a routerLinkActive="active-link" routerLink="life-cycle-hooks">Life Cycle</a>
    <a routerLinkActive="active-link" routerLink="communication">Communication</a>
    <a routerLinkActive="active-link" routerLink="rxjs">RXJS</a>
    <a routerLinkActive="active-link" routerLink="http-client">HTTP-Client</a>
    <a routerLinkActive="active-link" routerLink="interceptors">Interceptors</a>
    <a routerLinkActive="active-link" routerLink="route-guards">Route Guards</a>
    <a routerLinkActive="active-link" routerLink="ngrx-state-management">NGRX State Management</a>
</nav>

<router-outlet></router-outlet>