A directive is a special type of class that can modify DOM structure. They are classes that can add or remove elements from DOM or add or remove classes or styles dynamically to or from DOM. Directives are meant to be functions that are executed by compiler when found in DOM.
<nav>
    <a routerLinkActive="active-link" routerLink="structural-directives">Structural Directives</a>
    <a routerLinkActive="active-link" routerLink="attribute-directives">Attribute Directives</a>
    <a routerLinkActive="active-link" routerLink="component-directives">Component Directives</a>
    <a routerLinkActive="active-link" routerLink="custom-directives">Custom Directives</a>
</nav>

<router-outlet></router-outlet>