
<h4>Filtering</h4>
<p>filter() - allows you to filter out values based on some condition from an observable.</p>
<p>take() - it allows you to take first N values emitted by the observable then completes the observable automatically.</p>
<p>takeUntil() - it emits values from a source observable until a notifier observable emits a value then completes it.</p>
<p>first() - it emits the first value returned by the observable, then completes it.</p>
<p>skip() - it allows you to skip N values emitted by the observable, then emits the rest of the values.</p>
<p>debounceTime() - it emits a value from the source observable only after a certain time span has passed. It can be used in searching.</p>
<p>distinctUntilChanged() - it prevents emitting duplicate consecutive values from an observable stream.</p>